
@use '@angular/material' as mat;

@import "./sass-colors-palette.scss";

@include mat.core();

$contrast: (
  50: $contrast-50,
  100: $contrast-100,
  200: $contrast-200,
  300: $contrast-300,
  400: $contrast-400,
  500: $contrast-500,
  600: $contrast-600,
  700: $contrast-700,
  800: $contrast-800,
  900: $contrast-900
);

$primary-palette: (
  50: $primary-50,
  100: $primary-100,
  200: $primary-200,
  300: $primary-300,
  400: $primary-400,
  500: $primary-500,
  600: $primary-600,
  700: $primary-700,
  800: $primary-800,
  900: $primary-900,
  contrast: $contrast
);

$accent-palette: (
  50: $accent-50,
  100: $accent-100,
  200: $accent-200,
  300: $accent-300,
  400: $accent-400,
  500: $accent-500,
  600: $accent-600,
  700: $accent-700,
  800: $accent-800,
  900: $accent-900,
  contrast: $contrast
);

$alert-palette: (
  50: $alert-50,
  100: $alert-100,
  200: $alert-200,
  300: $alert-300,
  400: $alert-400,
  500: $alert-500,
  600: $alert-600,
  700: $alert-700,
  800: $alert-800,
  900: $alert-900,
  contrast: $contrast
);

$warn-palette: (
   50: $warn-50,
  100: $warn-100,
  200: $warn-200,
  300: $warn-300,
  400: $warn-400,
  500: $warn-500,
  600: $warn-600,
  700: $warn-700,
  800: $warn-800,
  900: $warn-900,
  contrast: $contrast
);

$primary: mat.define-palette($primary-palette, 700);
$accent: mat.define-palette($accent-palette, 500);
$alert: mat.define-palette($alert-palette, 800);
$warn: mat.define-palette($warn-palette, 500);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    alert: $alert,
    warn: $warn,
  )
));

@include mat.all-component-themes($light-theme);